[Unit]
Description=LAA service
[Service]
ExecStart=/bin/bash -c "/usr/bin/java -jar -Dconfigpath='/home/ec2-user/config.properties' /home/ec2-user/LAA.jar"
User=root
Type=simple
Restart=always
[Install]
WantedBy=multi-user.target
